@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

:root {
    --darkblue: #2E3440;
    --blue: #414f69;
    --gray: #bdbdbd;
    --lightgray: #cecece;
  }

.switch-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.switch {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    align-items: center;
    width: 60px;
    height: 34px;
    z-index: 1;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray);
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 1;
}
.slider:hover{
    background-color: var(--lightgray);
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: var(--darkblue);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--darkblue);
}

input:checked + .slider:hover {
    background-color: var(--blue);
    transition: .2s;
}

input:focus + .slider:hover {
    box-shadow: 0 0 1px var(--blue);
    transition: .2s;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}



.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f09c"; 
    align-items: center;
    justify-content: center;
    display: flex;
}

input:checked + .slider.round:before {
    content: "\f023";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    align-items: center;
    justify-content: center;
    display: flex;
}


.button-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.button{
    position: absolute;
    top: 50px;
    right: 10px;
    display: inline-block;
    align-items: center;
    width: 30px;
    height: 30px;
    z-index: 1;
    border-radius: 50%;
    border: none;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 16px;
    background-color: var(--gray);
    color: black;
}   

.button:hover{
    cursor: pointer;
    background-color: var(--lightgray);
    transition: .2s;
}
.button:active {
    transition: .2s;
    background-color: var(--darkblue);
}
